

<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

# Regression project

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [151]:
# All Libraries required for this lab are listed below. The libraries pre-installed on Skills Network Labs are commented. 
# If you run this notebook on a different environment, e.g. your desktop, you may need to uncomment and install certain libraries.

#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

In [152]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split


<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [153]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

#### Let's check how many data points we have.

In [154]:
concrete_data.shape

(1030, 9)

Let's check the dataset for any missing values.

In [155]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [156]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [157]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [158]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [159]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [160]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [161]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

In [162]:
import keras

In [163]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [164]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    #model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [165]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [166]:
list_of_mean_squared_error = []
for cycle in range(50):
    #Randomly split the data into a training set (70%) and a test set (30%):  
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3)
    #Train and test the model at the same time
    res = model.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    #Find mean_squared_error as last value in history.
    mean_squared_error = res.history['val_loss'][-1]
    #Add value of mean_squared_error for every cycle in list.
    list_of_mean_squared_error.append(mean_squared_error)
    print('Cycle #{}: mean_squared_error {}'.format(cycle+1, mean_squared_error))

Cycle #1: mean_squared_error 364.6321796306129
Cycle #2: mean_squared_error 164.78601711236158
Cycle #3: mean_squared_error 145.9045657062222
Cycle #4: mean_squared_error 102.9469293143757
Cycle #5: mean_squared_error 81.85114004388211
Cycle #6: mean_squared_error 63.2583490266769
Cycle #7: mean_squared_error 65.06930274099209
Cycle #8: mean_squared_error 56.48965177566874
Cycle #9: mean_squared_error 49.84533422278741
Cycle #10: mean_squared_error 45.25196469254478
Cycle #11: mean_squared_error 45.28544294486925
Cycle #12: mean_squared_error 51.80146932756245
Cycle #13: mean_squared_error 38.51047712159388
Cycle #14: mean_squared_error 43.464916747750586
Cycle #15: mean_squared_error 44.97698862267158
Cycle #16: mean_squared_error 43.44450094476101
Cycle #17: mean_squared_error 39.977455163850756
Cycle #18: mean_squared_error 45.98160744330644
Cycle #19: mean_squared_error 41.782888789007195
Cycle #20: mean_squared_error 38.88914952694791
Cycle #21: mean_squared_error 44.76406231358599
Cycle #22: mean_squared_error 45.76485012264313
Cycle #23: mean_squared_error 40.8243118829326
Cycle #24: mean_squared_error 40.387676288394864
Cycle #25: mean_squared_error 43.351657423000894
Cycle #26: mean_squared_error 44.59913636488436
Cycle #27: mean_squared_error 36.949135258745606
Cycle #28: mean_squared_error 37.43812375238412
Cycle #29: mean_squared_error 41.39047495524088
Cycle #30: mean_squared_error 38.142247937643795
Cycle #31: mean_squared_error 41.206270520355325
Cycle #32: mean_squared_error 38.615684854945705
Cycle #33: mean_squared_error 38.142917324424175
Cycle #34: mean_squared_error 34.55270221549716
Cycle #35: mean_squared_error 40.18832654243148
Cycle #36: mean_squared_error 39.60630810685142
Cycle #37: mean_squared_error 35.022580890593794
Cycle #38: mean_squared_error 34.65017382921138
Cycle #39: mean_squared_error 30.812512499614826
Cycle #40: mean_squared_error 44.40471119556612
Cycle #41: mean_squared_error 44.46353224103119
Cycle #42: mean_squared_error 37.4181970886428
Cycle #43: mean_squared_error 36.84661277598162
Cycle #44: mean_squared_error 33.89358969259416
Cycle #45: mean_squared_error 43.97701167134405
Cycle #46: mean_squared_error 39.16977960160635
Cycle #47: mean_squared_error 37.016662264333185
Cycle #48: mean_squared_error 36.227445917222106
Cycle #49: mean_squared_error 39.18012057307469
Cycle #50: mean_squared_error 39.94759038659747

In [167]:
# Create a DataFrame to display the mean squared error values in a table
df = pd.DataFrame({'Cycle #': range(1, 51), 'Mean Squared Error': list_of_mean_squared_error})
print(df)

    Cycle #  Mean Squared Error
0         1          364.632180
1         2          164.786017
2         3          145.904566
3         4          102.946929
4         5           81.851140
5         6           63.258349
6         7           65.069303
7         8           56.489652
8         9           49.845334
9        10           45.251965
10       11           45.285443
11       12           51.801469
12       13           38.510477
13       14           43.464917
14       15           44.976989
15       16           43.444501
16       17           39.977455
17       18           45.981607
18       19           41.782889
19       20           38.889150
20       21           44.764062
21       22           45.764850
22       23           40.824312
23       24           40.387676
24       25           43.351657
25       26           44.599136
26       27           36.949135
27       28           37.438124
28       29           41.390475
29       30           38.142248
30       31           41.206271
31       32           38.615685
32       33           38.142917
33       34           34.552702
34       35           40.188327
35       36           39.606308
36       37           35.022581
37       38           34.650174
38       39           30.812512
39       40           44.404711
40       41           44.463532
41       42           37.418197
42       43           36.846613
43       44           33.893590
44       45           43.977012
45       46           39.169780
46       47           37.016662
47       48           36.227446
48       49           39.180121
49       50           39.947590

In [168]:
print('The mean of the M2E: {}'.format(np.mean(list_of_mean_squared_error)))
print('The standard deviation of the M2E: {}'.format(np.std(list_of_mean_squared_error)))

The mean of the M2E: 55.062094747796415
The standard deviation of the M2E: 50.751632377768615